@using BlazorPerformance.Client.Utils
@inherits InputBase<string>

 <div class="group"> 
    <textarea value="@Value" @oninput="@EventUtil.AsNonRenderingEventHandler((ChangeEventArgs e) => CurrentValue = e.Value.ToString())"></textarea><span class="highlight"></span><span class="bar"></span>
    <label>@Label</label>
    <span class="render-message">@_renderMessage</span>
</div>