@using BlazorPerformance.Client.Utils
@inherits CollectionBaseComponent<BlazorPerformance.Shared.Models.Contribution, ContributionEditor>

@if (IsLoading)
{
    <div class="spinner"></div>
}
else
{
    <Collection TItem="BlazorPerformance.Shared.Models.Contribution"
            Items="Collection"
            Virtualize="VirtualizeEnabled"
            WithItemsProvider="WithItemsProvider"
            SearchTerm="@SearchTerm">
        <HeaderContent>
            <div class="col col-1">Title</div>
            <div class="col col-2">Date</div>
            <div class="col col-3">Type</div>
            <div class="col col-4">Language</div>
            <div class="col col-5">Primary Tag</div>
        </HeaderContent>
        <RowContent>
            <ContributionRow Contribution="@context" 
                             SearchTerm="@SearchTerm"
                             ItemClicked="EventUtil.AsNonRenderingEventHandler(() => CollectionItemClicked(context.Id))">
            </ContributionRow>
        </RowContent>
        <RowPlaceholder>
            <li class="table-row">
                <div class="col col-1"><MudSkeleton /></div>
                <div class="col col-2"><MudSkeleton /></div>
                <div class="col col-3"><MudSkeleton /></div>
                <div class="col col-4"><MudSkeleton /></div>
                <div class="col col-5"><MudSkeleton /></div>
            </li>
        </RowPlaceholder>
    </Collection>
}

